[Unit]
Description=The Slach-Scan startup service
After=network-online.target

[Service]
ExecStart=/opt/slach-scan/venv/bin/python3 /opt/slach-scan/main.py
WorkingDirectory=/opt/slach-scan/
User=root

[Install]
WantedBy=multi-user.target
